<div class="container">
  <h1>物联网</h1>

  <a class="center" href="/home">{{ strings.join_now }}</a>

  <section id="section1">
    <h2>什么是物联网？</h2>
    <p>当今的电脑以及互联网几乎完全依赖于人类来提供信息。互联网上大约有50 PB（PB 为 1,024 TB）的数据，其中大部分最初由人来获取和创建的，通过打字、录音、照相或扫描条码等方式。传统的互联网蓝图中忽略了为数最多并且最重要的节点，人。而问题是，人的时间、精力和准确度都是有限的，他们并不适于从真实世界中截获信息。这是大问题。我们生活于物质世界中，我们不能把虚拟的信息当做粮食吃，也不能当做柴火来烧。想法和信息很重要，但物质世界是更本质的。当今的信息技术如此依赖人类产生的信息，以至我们的电脑更了解思想而不是物质。如果电脑能不借助我们的帮助，就获知物质世界中各种可以被获取的信息，我们将能够跟踪和计量那些物质，减少浪费、损失和消耗。我们将知晓物品何时需要更换、维修或召回，他们是新的还是过了有效期。物联网有改变世界的潜能，就像互联网一样，甚至更深远。</p>
    <p>物联网的实现需要给每个物体分配唯一的标识或地址。最早的可定址性想法是基于RFID标签和电子产品唯一编码来实现的。</p>
  </section>

  <section id="section2">
    <h2>物联网能做什么？</h2>
  </section>

  <a class="center" href="/home">{{ strings.join_now }}</a>

</div>