@import "../../app.g";

footer {
	@extend %topmost-node;
	position: fixed;
	z-index: 1000;
	bottom: 0;
	width: 100%;
	height: $default-footer-height;
	margin: 0;
	padding: 0;

	overflow: hidden;
	background-color: #333;

	* {
		display: inline-block;
		height: 30px;
		text-decoration: none;
		color: #fff;
		vertical-align: middle;
	}

	p {
		position: static;

		font-style: italic;
		line-height: 30px;

		a {
			color: #0f0;

			&:hover {
				text-shadow: 1px 1px #eec;
			}
		}
	}
}
