<nav>
  <ul>
    <li>
      <a routerLink="/">首页</a>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="active">用户管理</a>
      <div>
        <a routerLink="/users/new/user">创建新用户</a>
        <a routerLink="/users/new/role">创建新用户分组</a>
      </div>
    </li>
    <li>
      <a routerLink="/materials" routerLinkActive="active">料号管理</a>
      <div>
        <a routerLink="/materials/new">创建新料号</a>
        <a routerLink="/materials/link">关联料号</a>
      </div>
    </li>
    <li>
      <a routerLink="/purchase" routerLinkActive="active">采购管理</a>
      <div>
        <a routerLink="/purchase/new/quotation">新建报价单</a>
        <a routerLink="/purchase/add/provider">添加供应商</a>
        <a routerLink="/purchase/new/order">新建采购订单</a>
        <a class="cursor pointer">采购询价</a>
        <a class="cursor pointer">采购请款</a>
        <a class="cursor pointer">采购跟单</a>
        <a class="cursor pointer">采购报表</a>
      </div>
    </li>
    <li>
      <a routerLink="/sales" routerLinkActive="active">销售管理</a>
      <div>
        <a routerLink="/sales/new/order">新建销售订单</a>
        <a class="cursor pointer">销售报价</a>
        <a class="cursor pointer">销售报表</a>
      </div>
    </li>
    <li>
      <a routerLink="/warehouse" routerLinkActive="active">库存管理</a>
      <div>
        <a routerLink="/warehouse/instock">入库登记</a>
        <a routerLink="/warehouse/exstock">出库登记</a>
        <a class="cursor pointer">仓库缺料</a>
        <a routerLink="/warehouse/check">盘点库存</a>
        <a class="cursor pointer">仓库报表</a>
      </div>
    </li>
    <li>
      <a routerLink="/manufacture" routerLinkActive="active">生产管理</a>
      <div>
        <a routerLink="/manufacture/new/plan">新建生产计划</a>
      </div>
    </li>

    <li style="float: right" *ngIf="!session.isLoggedIn">
      <a routerLink="/join" routerLinkActive="active">注册</a>
    </li>
    <li style="float: right" *ngIf="!session.isLoggedIn">
      <a routerLink="/login" routerLinkActive="active">登录</a>
    </li>
    <li style="float: right" *ngIf="session.isLoggedIn">
      <a routerLink="/logout">退出</a>
    </li>
  </ul>
</nav>
