<nav>
	<ul>
		<li>
			<a routerLink="/">首页</a>
		</li>
		<li class="dropdown">
			<a routerLink="/users" class="dropbtn">用户管理</a>
			<div class="dropdown-content">
				<a routerLink="/users/new/user">创建新用户</a>
				<a routerLink="/users/new/type">创建新用户类型</a>
			</div>
		</li>
		<li>
			<a routerLink="/materials">料号管理</a>
		</li>
		<li>
			<a routerLink="/purchase">采购管理</a>
		</li>
		<li>
			<a routerLink="/sales">销售管理</a>
		</li>
		<li>
			<a routerLink="/warehouse">库存管理</a>
		</li>
	</ul>
</nav>