<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>新建报价单</h1>
    </mat-card-title>
    <mat-card-subtitle>New Quotation</mat-card-subtitle>
  </mat-card-header>

  <!-- 报价单 元信息 -->
  <mat-card-content class="table-container mat-elevation-z8">
    <h2>报价单头</h2>

    <mat-list>

      <mat-list-item>
        <mat-form-field>
          <input matInput
              tabindex="101"
              [(ngModel)]="quotationGroupLog.providerId"
              placeholder="供应商名称"
              required="" />
        </mat-form-field>

        <mat-form-field>
          <input matInput
              tabindex="102"
              [matDatepicker]="picker"
              [(ngModel)]="quotationGroupLog.date"
              placeholder="报价日期"
              required="" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-select
              [(value)]="quotationGroupLog.currency"
              name="currency"
              placeholder="币种"
              required="">
            <mat-option
                *ngFor="let currency of currencyList"
                [value]="currency.value">
              {{ currency.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput
              tabindex="104"
              [(ngModel)]="quotationGroupLog.bidder"
              placeholder="报价人" />
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-radio-group [(ngModel)]="quotationGroupLog.termsofpayment.deadline">
          <mat-radio-button
              [checked]="quotationGroupLog.termsofpayment.deadline === 15"
              value="15">
            月结15天
          </mat-radio-button>
          <mat-radio-button
              checked
              [checked]="quotationGroupLog.termsofpayment.deadline === 30"
              value="30">
            月结30天
          </mat-radio-button>
          <mat-radio-button
              [checked]="quotationGroupLog.termsofpayment.deadline === 60"
              value="60">
            月结60天
          </mat-radio-button>
          <mat-radio-button
              [checked]="quotationGroupLog.termsofpayment.deadline === 0"
              value="0">
            <mat-form-field>
              <input matInput
                  type="text"
                  tabindex="108"
                  [(ngModel)]="quotationGroupLog.termsofpayment.other"
                  (click)="onClickTOP()"
                  placeholder="其他付款方式">
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>

        <mat-checkbox [(ngModel)]="quotationGroupLog.tax">{{ getTaxString() }}</mat-checkbox>
        <mat-checkbox [(ngModel)]="quotationGroupLog.fee">{{ getFeeString() }}</mat-checkbox>
      </mat-list-item>

    </mat-list>

  </mat-card-content>

  <!-- 报价记录 -->
  <mat-card-content class="table-container mat-elevation-z8">

    <section>
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <input matInput
                class="uppercase"
                type="text"
                tabindex="201"
                [(ngModel)]="quotationLog.supplierPartId"
                placeholder="供方料号" />
          </mat-form-field>

          <mat-form-field>
            <input matInput
                class="uppercase"
                type="text"
                tabindex="202"
                [(ngModel)]="quotationLog.demanderPartId"
                required=""
                placeholder="需方料号" />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput
                type="number"
                min="0"
                tabindex="203"
                [(ngModel)]="quotationLog.mpq"
                placeholder="最小包装数" />
          </mat-form-field>

          <mat-form-field>
            <mat-select
                [(value)]="quotationLog.unit"
                placeholder="单位">
              <mat-option value="pcs">PCS</mat-option>
              <mat-option value="m">M</mat-option>
              <mat-option value="kpcs">KPCS</mat-option>
              <mat-option value="km">KM</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput
                type="number"
                min="0"
                tabindex="204"
                [(ngModel)]="quotationLog.moq"
                placeholder="最小起订数" />
          </mat-form-field>

          <mat-form-field>
            <mat-select
                [(value)]="quotationLog.unit"
                placeholder="单位">
              <mat-option value="pcs">PCS</mat-option>
              <mat-option value="m">M</mat-option>
              <mat-option value="kpcs">KPCS</mat-option>
              <mat-option value="km">KM</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput
                tabindex="206"
                [(ngModel)]="quotationLog.lt.value"
                placeholder="订货周期" />
          </mat-form-field>

          <mat-form-field>
            <mat-select [(value)]="quotationLog.lt.unit">
              <mat-option value="h">小时</mat-option>
              <mat-option value="d">日</mat-option>
              <mat-option value="m">月</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput
                min="0"
                tabindex="207"
                [(ngModel)]="quotationLog.price.value"
                required=""
                placeholder="单价" />
          </mat-form-field>

          <mat-form-field>
            <input matInput
                disabled=""
                [(ngModel)]="quotationLog.price.unit"
                [value]="getPriceUnit()"
                placeholder="单位" />
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </section>

    <section>
      <mat-form-field>
        <textarea matInput
          placeholder="备注">
        </textarea>
      </mat-form-field>
    </section>

  </mat-card-content>
</mat-card>
