<div *ngIf="data">
  <div *ngIf="data.user">
    <h1 mat-dialog-title>用户信息</h1>
    <div mat-dialog-content class="center">
      <mat-form-field>
        <input matInput tabindex="-1" [(ngModel)]="data.user.id" disabled="" placeholder="用户 ID">
      </mat-form-field>
      <mat-form-field>
        <input matInput tabindex="1" [(ngModel)]="data.user.name" placeholder="用户名">
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="center">
      <button mat-button (click)="onCancel()">取消</button>
      <button mat-button [mat-dialog-close]="data.user.id" cdkFocusInitial>确定</button>
    </div>
  </div>
</div>