@import "../../../assets/variables";

mat-form-field,
mat-checkbox,
mat-radio-button {
  margin-left: 20px;
}

mat-card-content > {
  section {
    display: inline-block;
    margin-left: 20px;
  }
}
