
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$default-font-family: "Times New Roman", STKaiTi, STFangSong, Arial, Helvetica, sans-serif;
$section-seperator-style: solid 1px black;
$default-navbar-bgcolor: #333;
$active-navbar-bgcolor: #222;
$default-navbar-color: #fff;
$hover-navbar-bgcolor: #000;

$default-navbar-height: 50px;
$default-footer-height: $default-navbar-height;

// 颜色
$accent: 	#6d87a7;
$error: 	#811702;
$warning: 	#f9e055;
$valid: 	#038144;
