
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$default-font-family: "Times New Roman", STFangSong, Arial, Helvetica, sans-serif;
$default-navbar-height: 50px;
$default-footer-height: $default-navbar-height;

$default-nav-bgcolor: #333;
$active-nav-bgcolor: #4caf50;
$default-nav-color: #fff;
$hover-nav-bgcolor: #000;

$section-seperator-style: solid 1px black;