<mat-card-content
    class="table-container mat-elevation-z8">

  <header>
    <h2 *ngIf="isViewNewRole()">新增用户分组</h2>
    <h2 *ngIf="!isViewNewRole()">修改用户分组</h2>
  </header>

  <section *ngIf="activeRole">

    <mat-form-field>
      <input matInput
          type="text"
          tabindex="101"
          [(ngModel)]="activeRole.id"
          placeholder="用户分组 ID">
    </mat-form-field>

    <mat-form-field>
      <input matInput
          type="text"
          tabindex="102"
          [(ngModel)]="activeRole.name"
          placeholder="用户分组名称">
    </mat-form-field>

  </section>

  <footer>

    <button mat-raised-button
        (click)="onCancel()">取消</button>

    <button mat-raised-button
        class="float-right"
        (click)="onSubmit()">确定</button>

  </footer>

</mat-card-content>
